<h1>New Region</h1>

<form action="/regions" method="POST">
  <label for="region_name">Name</label>
  <input id="region_name" name="name" type="text" value="<%= @region.region_name %>">
  <button>Create region</button>
</form>
