<h1>New Species</h1>

<form action='/wilds' method="POST">
  <lable for="wild_name">Name</lable>
  <input id="wild_name" name="name" type="text" value="<%= @wild.name %>">
  <button>Creat new species</button>

</form>
