<h1>Edit Sighting</h1>



<form action="/wilds/<%= @sighting.wild.id %>/sightings/<%= @sighting.id %>" method="POST">

  <input name="_method" type="hidden" value="PATCH">

  <label for="sighting_date">Date</lable>
  <input id="sighting_date" name="date" type="text">

  <label for="sighting_latitude">Latitude</lable>
  <input id="sighting_latitude" name="latitude" type="text">

  <label for="sighting_longitude">Longtitude</lable>
  <input id="sighting_longitude" name="longitude" type="text">

  <button>Update sighting</button>
</form>
